<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link rel="stylesheet" href="./css/bulma.css">

    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>
    <main id="resume">
        <component :is="script" id="section-title-template">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <hr>
                    <h2 class="title is-size-2"> {{sectiontitle}} </h2>
                    <hr>
                </div>
            </div>
        </component>
        <component :is="script" id="work-exp-template">
            <div class="columns">
                <div class="column">
                    <h4 class="is-size-4">
                        {{jobtitle}}
                    </h4>
                    <p class="is-size-6 has-text-weight-medium">{{daterange}}</p>
                    <p class="is-size-6 has-text-weight-medium">{{company}}</p>
                    <div class="pl-4">
                        <li v-for="task in tasks">{{task}}</li>
                    </div>
                </div>
            </div>
        </component>


        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half has-text-centered is-primary">
                        <h1 class="title is-size-1">Jeffrey DeWitt</h1>
                        <h2 class="subtitle">Canton,OH • (440) 539-1862 • jadewitt00@gmail.com</h2>
                        
                        
                    </div>
                </div>
                
                <section-title sectiontitle="Professional Summary"></section-title>

                <div class="columns">
                    <div class="column">
                        <p>
                            Talented Information Technology Professional with excellent customer service and 7+ years of Windows administration experience.
                            Motivated to learn new skills and adapt to new technologies and environments. Effective and comfortable communicating with
                            people of all skill levels.
                        </p>
                    </div>
                </div>
                <section-title sectiontitle="Skills and Certifications"></section-title>
                
                <div class="columns">
                    <div class="column has-text-centered">
                        <div class="columns is-multiline">
                            <div class="column is-half" v-for="skill in skills">
                                <li> {{skill}} </li>
                            </div>
                        </div>
                    </div>
                </div>
                <section-title sectiontitle="Work History"></section-title>
                <work-exp jobtitle="IT Director" daterange="10/2018 to 03/2021" company="Cutler Real Estate" :tasks="[
                'Provide technical support for 400+ agents and staff.',
                'Converted a fully physical server environment to a virtual environment.',
                'Use Connectwise Control to remotely support 20+ offices.',
                'Manage 80+ domain users through Active Directory and Group Policy.',
                'Perform maintenance and deploy computers for staff.',
                'Deployed MDT server for more efficient desktop deployment.',
                'Track inventory of all hardware and software licenses.',
                'Work with outside vendors to provide business needs.',
                'Manage the IT budget and resource allocation.']"></work-exp>

            </div>
        </section>
    </main>

    <script type="module" src="./scripts/index.js"></script>
  </body>
</html>