<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link rel="stylesheet" href="./css/bulma.css">

    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>
    <main id="resume">
        <component :is="script" id="section-title-template">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <hr class="my-2">
                    <h2 class="title is-size-3 my-1"> {{sectiontitle}} </h2>
                    <hr class="my-2">
                </div>
            </div>
        </component>
        <component :is="script" id="work-exp-template">
            <div class="columns">
                <div class="column">
                    <h4 class="is-size-4">
                        {{jobtitle}}
                    </h4>
                    <p class="is-size-6 has-text-weight-medium">{{daterange}}</p>
                    <p class="is-size-6 has-text-weight-medium">{{company}}</p>
                    <div class="pl-4">
                        <li v-for="task in tasks">{{task}}</li>
                    </div>
                </div>
            </div>
        </component>


        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half has-text-centered is-primary">
                        <h1 class="title is-size-2">{{fullname}}</h1>
                        <h2 class="subtitle is-size-5">{{location}} • {{phone}} • {{email}}</h2>
                    </div>
                </div>
                
                <section-title sectiontitle="Professional Summary"></section-title>

                <div class="columns">
                    <div class="column py-0">
                        <p>
                            {{summary}}
                        </p>
                    </div>
                </div>

                
                <div class="columns is-gapless ">
                    <div class="column is-1"></div>
                    <div class="column is-3">
                        <h2 class="is-size-4 my-4">
                            Skills
                        </h2>
                        <div class="columns is-multiline has-text-left">
                            <div class="column is-full py-0" v-for="skill in skills">
                                <li> {{skill}} </li>
                            </div>
                        </div>
                        
                    </div>
                    <div class="column is-4">
                        <h2 class="is-size-4 my-4">
                            Certifications
                        </h2>
                        <div class="column is-full py-0" v-for="cert in certs">
                            <li> {{cert}} </li>
                        </div>
                    </div>
                    <div class="column is-4">
                        <h2 class="is-size-4 my-4">
                            Education
                        </h2>
                        <div class="column is-full py-0">
                            <p>
                                <span class="has-text-weight-medium">{{education.degree}}: </span>
                                {{education.field}} ({{education.gradyear}})
                            </p>
                            <p>
                                {{education.school}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <section-title sectiontitle="Skills and Certifications"></section-title> -->

                <section-title sectiontitle="Work History"></section-title>

                <work-exp v-for="job in workexperience" :jobtitle="job.jobtitle" :daterange="job.daterange" :company="job.company" :tasks="job.tasks"></work-exp>
            </div>
        </section>
    </main>

    <script type="module" src="./scripts/index.js"></script>
  </body>
</html>